<ng-template appRef></ng-template>
<div class="container">

  <h1 class="my-4">{{announcement.title}}</h1>


    <div>
      <p>{{announcement.description}}</p>
    </div>
  <ul class="list-inline m-0">
    <li class="list-inline-item">
      <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add" (click)="showEditForm(announcement)"><i>Edit</i></button>
    </li>
    <li class="list-inline-item">
      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteAnnouncement(announcementId)"><i>Delete</i></button>
    </li>
  </ul>

  <h3 class="my-4">Similar announcements</h3>

  <div class="row" *ngFor="let ann of announcement.similarAnnouncements">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <h3 class="my-4">{{ann.title}}</h3>
      </a>
    </div>


  </div>

</div>
